@using Microsoft.AspNetCore.Http
@model Court_booking.Models.People
@{
    ViewData["Title"] = "Customer";
    Layout = "_Layout";
}
<h2>Customer Table</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>            
            <th>Tel No</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var cus in ViewData["Customer"] as IList<People>)
        {
            <tr>
                <td>@cus.Id</td>
                <td>@cus.Name</td>                
                <td>@cus.Contact</td>
                <td>@cus.Email</td>
                <td>
                    <a >Edit</a> |
                    <a >Details</a> |
                    <a asp-action="DeleteCus" asp-route-id="@cus.Id" >Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
